.todo-item {
  font-size: 1.2rem;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
  user-select: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background: #f7cb15;
  margin: 5px 0;
}
.completed {
  text-decoration: line-through;
  background: rgba(0, 0, 0, 0.05);
}

i {
  margin-right: 10px;
  background: none;
  color: #ffffff;
}
